# Jenkins Configuration as Code
jenkins:
  systemMessage: "DevOps Practice Environment - {{ environment | upper }}"
  
  securityRealm:
    local:
      allowsSignup: false
      users:
        - id: admin
          password: ${JENKINS_ADMIN_PASSWORD:-admin123}
          
  authorizationStrategy:
    globalMatrix:
      permissions:
        - "Overall/Administer:admin"
        - "Overall/Read:authenticated"

  nodes:
    - permanent:
        name: "docker-agent"
        remoteFS: "/home/jenkins"
        launcher:
          ssh:
            host: "docker-agent"
            port: 22
            credentialsId: "docker-agent-key"

tool:
  git:
    installations:
      - name: "Default"
        home: "/usr/bin/git"
        
  dockerTool:
    installations:
      - name: "docker"
        home: "/usr/bin/docker"

unclassified:
  location:
    url: "http://{{ ansible_host }}:8080/"
    adminAddress: "admin@devops-practice.local"